@import '../../../assets/styles/variables.scss';

.tab-content-items {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.hint {
  display: block;
  margin: 20px 0;
  color: $mediumgrey;
  width: 100%;
  .hint-text {
    text-align: center;
  }
  .error-text {
    text-align: center;
    font-weight: 400;
  }
}

.spinner-container {
  position: absolute;
  display: flex;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.spinner {
  display: block;
  margin: auto;
}

.tooltip {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #eee;
  border: 1px solid #09c;
  padding: 10px;
  pointer-events: none;
  width: 600px;
  .tooltip-item-label {
    font-weight: 600;
  }
  .tooltip-item {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.graph-icon {
  background: url('/assets/images/main-page.png') no-repeat;
  background-size: contain;
  width: calc(100vw - 600px);
  height: calc((100vw - 600px) / 1.78);
  display: block;
  margin: auto;
}

.table-icon {
  background: url('/assets/images/data-table.svg') no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

.money-icon {
  background: url('/assets/images/how_to_invest.jpg') no-repeat;
  background-size: contain;
  width: calc(100vw - 800px);
  height: calc((100vw - 800px) / 1.78);
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 2px #eee;
}

.money-text{
  color: #07a9ed;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.user-icon {
  background: url(../../../assets/images/user.svg) no-repeat;
  background-size: contain;
  width: 76px;
  height: 76px;
  display: block;
}

.person-img {
  border-radius: 50%;
  border: 0.25rem solid $cleargray;
  width: 76px;
  height: 76px;
  display: block;
  margin: auto;
}

.person-summary {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

.person-desp {
  display: block;
}

.grids-container {
  margin: 0 2rem;
  width: calc(100vw - 240px);
  .grid-container {
    max-height: 450px;
    overflow: auto;
  }
}

.action-bar {
  margin: 0 2rem;
}

.chart-legends {
  position: absolute;
  z-index: 1;
  top: 96px;
  bottom: auto;
  left: auto;
  right: 0;
  margin: 1rem 2rem;
  background-color: rgba(255,255,255,0.5);
}

.legend-container {
  display: block;
  margin-bottom: 0.5rem;
  .legend-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}
