<header class="header">
  <div class="header-left">
    <div class="branding-logo"></div>
  </div>
  <div class="header-center">
    <div class="search-form">
      <div class="search-input-bar"
        [ngClass]="isSearchBarFocused ? 'search-input-bar-focus' : 'search-input-bar-focusout'">
        <label class="search-label">
          <clr-icon shape="search"></clr-icon>
        </label>
        <textarea type="text"
          (focus)="isSearchBarFocused=true"
          (focusout)="onFocusOut()"
          [(ngModel)]="searchText"
          (input)="onSearchBarChange($event.target.value)"
          placeholder="{{defaultSearchText}}"
          class="search-inputfield">
        </textarea>
        <button
          class="search-clear-button"
          *ngIf="needClear"
          (click)="clearText()">
          <clr-icon shape="times-circle" class="is-solid"></clr-icon>
        </button>
        <button
          class="search-clear-button search-enter-button"
          [hidden]="!isSearchBarFocused"
          (click)="search()">
          <clr-icon shape="child-arrow"></clr-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="header-right">
    <div class="profile-container">
      <div class="profile"></div>
      <span class="profile-text">{{user}}</span>
      <div class="arrow-container">
        <clr-icon shape="caret" dir="down"></clr-icon>
      </div>
    </div>
  </div>
</header>
<body>
  <clr-tabs>
    <clr-tab>
        <button clrTabLink [routerLink]="graphRoute">Intelligent Search</button>
        <ng-template [(clrIfActive)]="graphActive">
            <clr-tab-content>
              <app-graph #graph (onSearchTextChange)="onSearchTextChange($event)"></app-graph>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink [routerLink]="">Bookmarks</button>
        <ng-template [(clrIfActive)]="bookmarkActive">
            <clr-tab-content>
              <app-bookmark></app-bookmark>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink [routerLink]="catalogRoute">Catalog</button>
        <ng-template [(clrIfActive)]="catalogActive">
            <clr-tab-content>
              <app-catalog></app-catalog>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
  </clr-tabs>
</body>